@font-face {
    font-family: header;
    src: url(../font/Rubik-Medium.ttf);
}
@font-face {
    font-family: base;
    src: url(../font/ofont.ru_Nunito.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: base;
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --color-green: #041F1E;
    --color-white: #f4f4f4;
    --color-black: #121212;
    --color-orange: #FF9F1C;
    --color-blue: #B3CBB9;
    --color-brown: #684E32;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    font-size: 15px;
    font-family: base;
    color: var(--color-white);
}

h1 {
    font-size: 55px;
    font-family: header;
    color: var(--color-white);
}

h2 {
    font-size: 31px;
    font-family: header;
    color: var(--color-white);
}

h3 {
    font-size: 17px;
    font-weight: 400;
    font-family: header;
    color: var(--color-white);
}
h1, h2, h3{
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: var(--color-white);
    font-family: header;
}