.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 90px 10% 40px;
    background-image: url(../img/delivery.webp);
    background-size: cover;
    background-position: center;
}

.delivery .text {
    max-width: 300px;
}

.delivery .text h2 {
    padding: 35px 0 25px;
}

.delivery .form {
    max-width: 700px;
    padding: 60px 45px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    color: whitesmoke;
}

.delivery .form h3 {
    text-align: center;
    padding: 20px 0 15px;
}

.delivery .form p {
    text-align: center;
    padding-bottom: 30px;
}

.delivery .form input[type="email"] {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.delivery .form input[type="email"]:focus{
    outline: none;
    border-bottom: 2px solid var(--color-orange);
}

.delivery .form label {
    font-size: 13px;
    color: rgb(207, 207, 207);
    margin-bottom: 30px;
}

.delivery .form .btn-send {
    background: var(--color-orange);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    border: 0;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.delivery .form .btn-send:hover{
    background: #d18214;
    cursor: pointer;
}