section.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
}
section.work h2{
    padding: 50px 0;
    color: var(--color-green);
}
div.sections{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
}
div.sections::before{
    content: '';
    position: absolute;
    left: 320px;
    top: 20px;
    bottom: 20px;
    width: 2px;
    background-color: var(--color-light_green);
    z-index: 1;
}
div.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 15px;
    padding: 10px;
}
div.information::before{
    content: '';
    position: absolute;
    left: 273px; 
    width: 50px;
    height: 50px;
    background-color: var(--color-blue);
    background-size: contain;
    border-radius: 50%;
    padding: 4px;
    z-index: 1;
    transition: all 0.5s ease-in;
}
div.information::after{
    content: '';
    position: absolute;
    left: 75px; 
    width: 30%;
    height: 2px;
    background-color: var(--color-light_green);
    border-radius: 50%;
    z-index: 0;
}
div.section:not(:first-child){
    padding-top: 70px;
}
div.step{
    width: 200px;
    padding: 10px;
    background-color: var(--color-green);
    text-align: center;
    z-index: 3;
    transition: all 0.5s ease-in; 
}
div.step p{
    font-size: 20px;
}
div.information{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 230px;
}
div.info_img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    filter: brightness(0.6);
    transition: all 0.5s ease-in; 
}
div.info_img{
    width: 180px;
    height: 180px;
    z-index: 3;
}
div.text{
    width: 45%;
    padding: 0 100px 0 0;
    transition: all 0.5s ease-in; 
}
div.text h3, div.text p{
    color: var(--color-green);
}
section.work button{
    font-family: header;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #503c26;
    border: 5px solid #503c26;
    color: var(--color-white);
    margin: 30px 0;
}
section.work button:hover{
    background-color: #332618;
    border: 5px solid #332618;
}
div.section:hover div.information div.step{
    background-color: var(--color-orange);
    font-size: 22px;
}
div.section:hover div.information div.step p{
    font-size: 22px;
}
div.section:hover div.information div.info_img img{
    filter: brightness(1);
    width: 220px;
    height: 220px;
}
div.section:hover div.text p{
    font-size: 17px;
}
div.section:hover div.text h3{
    font-size: 19px;
}
div.section:hover div.information::before{
    background-color: var(--color-light_green);
}